* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr;
    justify-items: center;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 16px;
}

.game-square {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.game-message {
    min-height: 35px;
    text-align: center;
    padding: 18px;
    font-size: 1.4rem;
}

.mark-x {
    background-image: url("./cross.svg");
}

.mark-o {
    background-image: url("./circle.svg");
}

.mark-x,
.mark-o {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}